@use "var";



/* 📱 Base → móvil (sin media query) */
@media (min-width: 320px) { 
    .contHeader{
        width: 100%;
        background-image: url(../source/desarrollando.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .contHeaderFondo{
            width: 100%;
            background:rgba(0, 0, 0, 0.46);
            padding: 50px 10px;
            display: flex;
            flex-direction: column;
            justify-content:start;
            align-items: center;
            .contHeaderPhoto{
                margin-left: initial;
                width: 198px;
                height: 198px;
                border-radius: 100%;
                overflow: hidden;
            }
        
            .contHeaderDescription{
                margin-right:initial;
                margin: 20px auto;
                width: 100%;
                padding: 10px 20px;
                text-align: center;
                .contHeaderDescription__name{
                    color: white;
                    font-weight: 500;
                    line-height: 1;
                    font-size: 28px;
                }

                .contHeaderDescription__description{
                    color: white;
                    margin-top: 10px;
                    font-size: 20px;
                    font-weight: 400;
                    color: var.$green;
                }

                .contHeaderDescription__line{
                    margin: 12px auto;
                    width: 162px;
                    height: 2px;
                    border: none;
                    background: var.$green;
                }
                
                .contHeaderDescription__nivel{
                    margin-top: 10px;
                    color: var.$green;
                    font-weight: 400;
                }
            }
        }
    
    }  
}

   

/* 📲 Tablet */
@media (min-width:768px) { 
    .contHeader{
        width: 100%;
        background-image: url(../source/desarrollando.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .contHeaderFondo{
            width: 100%;
            background:rgba(0, 0, 0, 0.46);
            padding: 50px 10px;
            display: flex;
            flex-direction:column;
            justify-content:space-around;
            align-items: center;
            .contHeaderPhoto{
                margin-left: initial;
                width: 198px;
                height: 198px;
                border-radius: 100%;
                overflow: hidden;
            }
        
            .contHeaderDescription{
                margin-right:initial;
                margin: 20px auto;
                width: 450px;
                padding: 20px 10px;
                text-align: center;
                border-radius: 15px;
                box-shadow: 0px 0px 5px black;
                background: var.$blue-trans;
                .contHeaderDescription__name{
                    color: white;
                    font-weight: 500;
                    line-height: 1;
                    font-size: 28px;
                }

                .contHeaderDescription__description{
                    color: white;
                    margin-top: 10px;
                    font-size: 20px;
                    font-weight: 400;
                    color: var.$green;
                }

                .contHeaderDescription__line{
                    margin: 12px auto;
                    width: 162px;
                    height: 2px;
                    border: none;
                    background: var.$green;
                }
                
                .contHeaderDescription__nivel{
                    margin-top: 10px;
                    color: var.$green;
                    font-weight: 400;
                }
            }
        }
    
    }  
}




/* 💻 Laptop */
@media (min-width: 1024px) { 
    .contHeader{
        width: 100%;
        background-image: url(../source/desarrollando.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .contHeaderFondo{
            width: 100%;
            background: var.$blue-trans;
            padding: 50px 20px;
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            align-items: center;
            .contHeaderPhoto{
                margin-left: initial;
                width: 230px;
                height: 230px;
                border-radius: 100%;
                overflow: hidden;
            }
        
            .contHeaderDescription{
                margin-right:initial;
                width: 640px;
                padding: 10px 20px;
                text-align: center;
                .contHeaderDescription__name{
                    color: white;
                    font-weight: 500;
                    font-size: 34px;
                }

                .contHeaderDescription__description{
                    color: white;
                    font-size: 22px;
                    font-weight: 400;
                    color: var.$green;
                }

                .contHeaderDescription__line{
                    margin: 12px auto;
                    width: 200px;
                    height: 2px;
                    border: none;
                    background: var.$green;
                }
                
                .contHeaderDescription__nivel{
                    margin-top: 40px;
                    color: var.$green;
                    font-weight: 400;
                }
            }
        }
    
    }  
}



/* 🖥️ Desktop */
@media (min-width: 1280px) { 
    .contHeader{
        width: 100%;
        background-image: url(../source/desarrollando.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .contHeaderFondo{
            width: 100%;
            background: var.$blue-trans;
            padding: 50px 20px;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            .contHeaderPhoto{
                margin-left: 50px;
                width: 240px;
                height: 240px;
                border-radius: 100%;
                overflow: hidden;
            }
        
            .contHeaderDescription{
                margin-right: calc(50% - 550px);
                width: 720px;
                padding: 10px 20px;
                text-align: center;
                .contHeaderDescription__name{
                    color: white;
                    font-weight: 500;
                    font-size: 38px;
                }

                .contHeaderDescription__description{
                    color: white;
                    font-size: 26px;
                    color: var.$green;
                }

                .contHeaderDescription__line{
                    margin: 16px auto;
                    width: 200px;
                    height: 1px;
                    border: none;
                    background: var.$green;
                }
                
                .contHeaderDescription__nivel{
                    margin-top: 40px;
                    color: white;
                    color: var.$green;

                }
            }
        }
    
    }
}



/* 🖥️ Pantallas grandes */
@media (min-width: 1440px){ 
    .contHeader{
        width: 100%;
        background-image: url(../source/desarrollando.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .contHeaderFondo{
            width: 100%;
            background: var.$blue-trans;
            padding: 50px 20px;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            .contHeaderPhoto{
                margin-left: 50px;
                width: 240px;
                height: 240px;
                border-radius: 100%;
                overflow: hidden;
            }
        
            .contHeaderDescription{
                margin-right: calc(50% - 550px);
                width: 720px;
                padding: 10px 20px;
                text-align: center;
                .contHeaderDescription__name{
                    color: white;
                    font-weight: 500;
                    font-size: 38px;
                }

                .contHeaderDescription__description{
                    color: white;
                    font-size: 26px;
                    color: var.$green;
                }

                .contHeaderDescription__line{
                    margin: 16px auto;
                    width: 200px;
                    height: 1px;
                    border: none;
                    background: var.$green;
                }
                
                .contHeaderDescription__nivel{
                    margin-top: 40px;
                    color: white;
                    color: var.$green;

                }
            }
        }
    
    }
}