@use "var";



/* 📱 Base → móvil (sin media query) ROJO*********************/
@media (min-width: 320px) { 
    .contHeader{
        width: 100%;
        background-image: url(../source/desarrollando.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .contHeaderFondo{
            width: 100%;
            background:rgba(0, 0, 0, 0.46);
            padding: 50px 10px;
            display: flex;
            flex-direction: column;
            justify-content:start;
            align-items: center;
            .contHeaderPhoto{
                margin-left: initial;
                width: 198px;
                height: 198px;
                border-radius: 100%;
                overflow: hidden;
            }
        
            .contHeaderDescription{
                width: 100%;
                margin-right:initial;
                margin: 20px auto;
                padding: 10px 10px;
                text-align: center;
                .contHeaderDescription__name{
                    width: 100%;
                    color: white;
                    font-weight: 500;
                    line-height: 1;
                    font-size: 32px;
                }

                .contHeaderDescription__description{
                    width: 100%;
                    margin-top: 0;
                    color: white;
                    font-size: 22px;
                    font-weight: 400;
                    color: var.$green;
                }

                .contHeaderDescription__line{
                    margin: 12px auto;
                    width: 162px;
                    height: 2px;
                    border: none;
                    background: var.$green;
                }
                
                .contHeaderDescription__nivel{
                    margin-top: 10px;
                    color: var.$green;
                    font-weight: 400;
                }
            }
        }
    
    }  
}

   

/* 📲 Tablet YELLOW******************************************/
@media (min-width:768px) { 
    .contHeader{
        width: 100%;
        background-image: url(../source/desarrollando.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .contHeaderFondo{
            width: 100%;
            background:rgba(0, 0, 0, 0.46);
            padding: 50px 10px;
            display: flex;
            flex-direction:column;
            justify-content:space-around;
            align-items: center;
            .contHeaderPhoto{
                margin-left: initial;
                width: 198px;
                height: 198px;
                border-radius: 100%;
                overflow: hidden;
            }
        
            .contHeaderDescription{
                margin-right:initial;
                margin: 20px auto;
                width: 450px;
                padding: 20px 10px;
                text-align: center;
                .contHeaderDescription__name{
                    color: white;
                    font-weight: 500;
                    line-height: 1;
                    font-size: 28px;
                }

                .contHeaderDescription__description{
                    color: white;
                    margin-top: 10px;
                    font-size: 20px;
                    font-weight: 400;
                    color: var.$green;
                }

                .contHeaderDescription__line{
                    margin: 12px auto;
                    width: 162px;
                    height: 2px;
                    border: none;
                    background: var.$green;
                }
                
                .contHeaderDescription__nivel{
                    margin-top: 10px;
                    color: var.$green;
                    font-weight: 400;
                }
            }
        }
    
    }  
}



/* 💻 Laptop GREEN******************************************/
@media (min-width:1024px) { 
    .contHeader{
        width: 100%;
        background-image: url(../source/desarrollando.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .contHeaderFondo{
            width: 100%;
            background:rgba(0, 0, 0, 0.46);
            padding: 50px 10px;
            display: flex;
            flex-direction:row;
            justify-content:center;
            align-items: center;
            .contHeaderPhoto{
                margin-left: calc(20% - 50px);
                width: 240px;
                height: 240px;
                border-radius: 100%;
                overflow: hidden;
            }
        
            .contHeaderDescription{
                margin-right:calc(25% - 150px);
                width: 500px;
                padding: 15px 0px;
                text-align: center;
                .contHeaderDescription__name{
                    color: white;
                    font-weight: 700;
                    line-height: 1;
                    letter-spacing: 8px;
                    font-size: 40px;
                }

                .contHeaderDescription__description{
                    color: white;
                    margin-top: initial;
                    font-size: 26px;
                    font-weight: 400;
                    color: var.$green;
                }

                .contHeaderDescription__line{
                    margin: 12px auto;
                    width: 240px;
                    height: 2px;
                    border: none;
                    background: var.$green;
                }
                
                .contHeaderDescription__nivel{
                    margin-top: 40px;
                    font-size: 24px;
                    color: var.$green;
                    font-weight: 400;
                }
            }
        }
    }  
}



/* 🖥️ Desktop BLUE******************************************/
@media (min-width:1280px){ 
    .contHeader{
        width: 100%;
        background-image: url(../source/desarrollando.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .contHeaderFondo{
            width: 100%;
            background:rgba(0, 0, 0, 0.46);
            padding: 50px 10px;
            display: flex;
            flex-direction:row;
            justify-content:center;
            align-items: center;
            .contHeaderPhoto{
                margin-left: calc(20% - 50px);
                width: 240px;
                height: 240px;
                border-radius: 100%;
                overflow: hidden;
            }
        
            .contHeaderDescription{
                margin-right:calc(25% - 150px);
                width: 500px;
                padding: 15px 0px;
                text-align: center;
                .contHeaderDescription__name{
                    color: white;
                    font-weight: 700;
                    line-height: 1;
                    letter-spacing: 8px;
                    font-size: 40px;
                }

                .contHeaderDescription__description{
                    color: white;
                    margin-top: initial;
                    font-size: 26px;
                    font-weight: 400;
                    color: var.$green;
                }

                .contHeaderDescription__line{
                    margin: 12px auto;
                    width: 240px;
                    height: 2px;
                    border: none;
                    background: var.$green;
                }
                
                .contHeaderDescription__nivel{
                    margin-top: 40px;
                    font-size: 24px;
                    color: var.$green;
                    font-weight: 400;
                }
            }
        }
    }  
}


/* 🖥️ Pantallas grandes VIOLET******************************/
@media (min-width:1440px) { 
   .contHeader{
        width: 100%;
        background-image: url(../source/desarrollando.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        .contHeaderFondo{
            width: 100%;
            background:rgba(0, 0, 0, 0.46);
            padding: 50px 10px;
            display: flex;
            flex-direction:row;
            justify-content:center;
            align-items: center;
            .contHeaderPhoto{
                margin-left: calc(20% - 50px);
                width: 240px;
                height: 240px;
                border-radius: 100%;
                overflow: hidden;
            }
        
            .contHeaderDescription{
                margin-right:calc(25% - 150px);
                width: 500px;
                padding: 15px 0px;
                text-align: center;
                .contHeaderDescription__name{
                    color: white;
                    font-weight: 700;
                    line-height: 1;
                    letter-spacing: 8px;
                    font-size: 40px;
                }

                .contHeaderDescription__description{
                    color: white;
                    margin-top: initial;
                    font-size: 26px;
                    font-weight: 400;
                    color: var.$green;
                }

                .contHeaderDescription__line{
                    margin: 12px auto;
                    width: 240px;
                    height: 2px;
                    border: none;
                    background: var.$green;
                }
                
                .contHeaderDescription__nivel{
                    margin-top: 40px;
                    font-size: 24px;
                    color: var.$green;
                    font-weight: 400;
                }
            }
        }
    }  
}