@use "var";

.contBaseBloqueAB{
    width: 100%;
    padding: 10px 20px;
    background: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    .contBloqueA{
        width: 350px;
        color: white;
        background: rgb(172, 172, 172);
        .contBloqueA__base{
            width: 100%;
            padding: 10px 20px;
            background: rgb(76, 76, 76);
        }
        .contBloqueA__Subtitles{
            font-size: 28px;
            color: black;
            
        }
        .contBloqueA__linea{

        }
        .contBloqueA__description{

        }
    }

    .contBloqueB{
        width: 800px;
        color: white;
        background: rgb(243, 214, 214);
    }
}